<h1>HR-Mitra</h1>
<%=link_to 'About Us', about_path ,target: '_blank' , data: { name:'about-page', resource: 'pages' },style:'color:green;' %>
<%=link_to 'Contact Us', contact_path ,target: '_blank' , data: { name:'contact-page', resource: 'pages' } ,style:'color:green;'%>
<%=link_to 'Privacy Policy', privacy_path ,target: '_blank' , data: { name:'privacy-policy-page', resource: 'pages' },style:'color:green;' %>
<%=link_to 'Terms and Conditions', terms_path ,target: '_blank' , data: { name:'terms-and-conditions-page', resource: 'pages' } ,style:'color:green;'%>

